body {
	overflow: hidden;
	margin: 0;
	font-family: "Roboto", Arial;
}
input {
	margin-left: 14px;
}
label {
	margin: auto 10px;
}
ul {
	list-style: none;
	padding-left: 0;
}
.map {
height: 100vh;
}
.container {

}
.list-entry {
	border-top: 2px solid grey;
	padding: 10px;
	font-size: 0.8em;
}
.list-entry-title {
	margin: 3px auto;
	font-size: 1.2em;
}
.nav {
	width: 100%;
	position: absolute;
	background-color: rgba(255,255,255, 0.6);
	transition: all, 1s ;
	-webkit-transition: all, 1s;
	overflow-y: scroll;
	height: 40%;
}
.show-nav {
	top: 60%;
}
.hide-nav {
	top: 94%;
}
.nav-button {
	font-size: 2em;
	margin: 30px auto;
	width: 100%;
	position: fixed;
	background-color: rgba(255,255,255, 0.4);
}
.margin-top-sml {
	margin-top: 11%;
}
.flex-row {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	justify-content: space-between;
}
.current-loc-text {
	width: 70%;
	display: inline-block;
	margin-left: 5%;
	font-size: 2em;
}
.current-loc-title {
	margin-top: 0;
	margin-bottom: 10px
}
.p-snippet {
	margin: 0.5em;
	margin-left: 0;
}
.featured-img {
	max-width: 40%;
	margin-right: 5%;
}
.featured-img * {
	max-width: 100%;
	max-height: 200px;
}
.filter-controls {
	font-size: 1.75em;
	padding: 10px;
}
.info-container {

}
.keyword-array {
	width: 100%;
}
.light-font {
	font-weight: 300;
}